#indexContainer {
  background-color: #e4deae;
  height: 100vh;
  width: 100vw;

  #searhSection-aside {
    display: flex;
    justify-content: center;
  }

  #indexInnerSection {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    text-align: center;
    gap: 15px;
    padding: 15px;
    height: 90%;
    overflow: auto;
  }
}

// @media (max-width: 1400px) {
//   #indexSection {
//     #indexContainer {
//       grid-template-columns: 125px 1fr 125px 1fr;
//     }
//   }
// }

// @media (max-width: 1400px) {
//   #indexSection {
//     #indexContainer {
//       grid-template-columns: 125px 1fr 125px 1fr;
//     }
//   }
// }

// @media (max-width: 1000px) {
//   #indexSection {
//     #indexContainer {
//       border: 5px solid cyan;
//       grid-template-columns: repeat(2, 1fr);
//     }
//   }
// }

// @media (max-width: 900px) {
//   #indexSection {
//     #indexContainer {
//       border: 5px solid cyan;
//       grid-template-columns: 1fr;
//     }
//   }
// }

// @media (max-width: 550px) {
//   body {
//     max-width: 550px;

//     #indexSection {
//       #searchBar {
//         border: 5px solid red;
//         display: flex;
//         justify-content: flex-start;

//         #searchBarInnerContainer {
//           border: 5px solid green;
//           width: 100%;
//         }

//         #filterListContainer {
//           border: 5px solid cyan;
//           #filterList {
//             border: 5px solid red;
//           }
//         }
//       }
//     }
//   }
// }
// #indexSection {
//   background-color: #e4deae;
//   height: 100vh;
//   width: 100%;
//   // overflow: auto;

//   #searchBarContainer {
//     display: flex;
//     justify-content: center;

//     #searchBar {
//       #searchBarInnerContainer {
//         display: grid;
//         grid-template-columns: 1fr 1.5fr 1fr;
//       }

//       #formBasicSearchbar {
//         border-radius: 0;
//       }

//       #searchBarButton {
//         border-radius: 0;
//       }
//     }
//   }

//   #indexContainer {
//     // border: 5px solid cyan;
//     display: grid;
//     // grid-template-columns: 125px 1fr 125px 1fr 125px 1fr;
// 		grid-template-columns: repeat(3, minmax(0, 1fr));
//     text-align: center;
// 		gap: 15px;
//     // border: 5px solid orangered;
//    	height: 90%;
//     overflow: auto;
// 		padding: 15px;
//     // border: 5px solid red;
//   }
// }

// // @media (max-width: 1400px) {
// //   #indexSection {
// //     #indexContainer {
// //       grid-template-columns: 125px 1fr 125px 1fr;
// //     }
// //   }
// // }

// // @media (max-width: 1400px) {
// //   #indexSection {
// //     #indexContainer {
// //       grid-template-columns: 125px 1fr 125px 1fr;
// //     }
// //   }
// // }

// // @media (max-width: 1000px) {
// //   #indexSection {
// //     #indexContainer {
// //       border: 5px solid cyan;
// //       grid-template-columns: repeat(2, 1fr);
// //     }
// //   }
// // }

// // @media (max-width: 900px) {
// //   #indexSection {
// //     #indexContainer {
// //       border: 5px solid cyan;
// //       grid-template-columns: 1fr;
// //     }
// //   }
// // }

// @media (max-width: 550px) {
//   body {
//     max-width: 550px;

//     #indexSection {
//       #searchBar {
//         border: 5px solid red;
//         display: flex;
//         justify-content: flex-start;

//         #searchBarInnerContainer {
//           border: 5px solid green;
//           width: 100%;
//         }

//         #filterListContainer {
//           #filterList {
//             //
//           }
//         }
//       }
//     }
//   }
// }
