.cardInfoContainer {
  border: 5px solid yellow;
  .itemsCard {
    border: 5px solid green;
    height: 50%;
    display: grid;
    grid-template-columns: 1;
    margin-bottom: 3%;
    margin-right: 3%;
    margin-left: 5em;
    box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.7);

    // &:hover {
    //   transition: 1s;
    //   transform: scale(1.03);
    // }

    .finderInfo {
      grid-row: 2;
      // display: flex;
      .finderImg {
        display: grid;

        margin-top: 1em;
        width: 50px;
      }
    }
  }
}

// use later if you want the current logged in user's items to highlight \\

// .usersItem {
//   border: 5px solid rgb(16, 248, 101);
// }

#itemImgContainer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  .itemImg {
    // width: 200px;
    // height: 200px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 1000px) {
  .cardInfoContainer {
    .itemsCard {
      .finderInfo {
        grid-column: 2;
        grid-row: 1;
        .finderImg {
          margin-top: 1em;
          width: 50px;
        }
      }

      .itemInfo {
        grid-column: 1 / span 2;
      }

      #itemImgBelowWidth {
        border: 3px solid black;
        width: 200px;
        height: 200px;
        box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.7);
      }
    }
  }
}

@media (max-width: 900px) {
  .cardInfoContainer {
    .itemsCard {
      .finderInfo {
        grid-column: 2;
        grid-row: 1;
        .finderImg {
          margin-top: 1em;
          width: 50px;
        }
      }

      .itemInfo {
        grid-column: 1 / span 2;
      }

      #itemImgBelowWidth {
        border: 3px solid black;
        width: 200px;
        height: 200px;
        box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.7);
      }
    }
  }
}

@media (max-width: 470px) {
  .cardInfoContainer {
    .itemsCard {
      .finderInfo {
        grid-column: 2;
        grid-row: 1;
        .finderImg {
          margin-top: 1em;
          width: 50px;
        }
      }

      .itemInfo {
        grid-column: 1 / span 2;
      }

      #itemImgBelowWidth {
        border: 3px solid black;
        width: 100px;
        height: 100px;
        box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.7);
      }
    }
  }
}
