.cardInfoContainer {
  .itemsCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3%;
    margin-right: 3%;
    margin-left: 5em;

    .finderInfo {
      .finderImg {
        margin-top: 1em;
        width: 50px;
      }
    }
  }
}

// use later if you want the current logged in user's items to highlight \\

// .usersItem {
//   border: 5px solid rgb(16, 248, 101);
// }

.itemImg {
  width: 200px;
  height: 200px;
  border-radius: 3%;
}

@media (max-width: 1000px) {
  .cardInfoContainer {
    border: 5px solid red;

    .itemsCard {
      border: 5px solid yellow;

      .finderInfoContainer {
        .finderImg {
          margin-top: 1em;
          width: 50px;
        }
      }

      #itemImgBelowWidth {
        border: 5px solid purple;
        width: 200px;
        height: 200px;
      }
    }
  }
}
