#userSettingsSection {
	display: block;
	background-color: #e4deae;
	width: 100vw;
	height: 100vh;
	text-align: center;
}

.edit-settings-heading {
  text-align: center;
}

#user-info-section {
  background-color: #e4deae;
  text-align: center;
}

#user-data-li{
	border: black dotted ;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 60px;
	margin-top: 60px;
}
#edit-user-info {
  text-align: center;
}

.edit-info-input{
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#user-data-li{
	list-style-type: none;
}
