.edit-settings-heading{
	text-align: center;
}

#user-info-section {
	text-align: center;
}

#user-data-li{
	border: black solid ;
}
#edit-user-info {
	text-align: center;
}

.edit-info-input{
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}