#myItemsSection {
  #myitems-heading {
    text-align: center;
  }

  #myItemsContainer {
    // border: solid black;

    .myitems-card {
      width: 100%;
      background-color: #373a47;
      border: 3px solid black;
      border-radius: 3%;
      text-align: center;

      span {
        color: lightgreen;
      }
    }
  }
}
