.chatboxContainer {
  float: right;
  position: fixed;
  top: 95%;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1;
  border: 1px solid black;
  border-radius: 5%;

  &:hover {
    color: cyan;
    cursor: pointer;
    animation: pulse 1.5s infinite alternate;
    @keyframes pulse {
      100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
          0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
      }

      0% {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #0fa,
          0 0 45px #0fa, 0 0 55px #0fa, 0 0 70px #0fa, 0 0 80px #0fa;
      }
    }
  }

  #messagesIcon {
    width: 50px;
    height: 100%;
    grid-row: 1;
  }

  #messagesText {
    grid-row: 1;
    border: none;
    align-self: center;
    justify-self: center;
  }
}

.sticky {
  position: sticky;
}

.customArrow {
  float: right;
  position: fixed;
  top: 90%;
  left: 90%;

  width: 30px;
  height: 60px;
  padding-top: 60px;
  display: grid;
  background: linear-gradient(currentColor 0 0) bottom/10px calc(100% - 15px),
    conic-gradient(
        from 134deg at top,
        #0000,
        currentColor 1deg 90deg,
        #0000 91deg
      )
      top/100% 15px;
  background-origin: content-box;
  background-repeat: no-repeat;
  animation: arrow1 2s infinite;
}
.customArrow:before,
.customArrow:after {
  content: "";
  grid-area: 1/1;
  background: inherit;
  background-size: 10px calc(100% - 25px), 100% 25px;
  animation: arrow2 2s infinite;
}
.customArrow:after {
  background-size: 10px calc(100% - 30px), 100% 30px;
  animation: arrow3 2s infinite;
}
@keyframes arrow1 {
  25%,
  100% {
    padding-top: 0px;
  }
}

@keyframes arrow2 {
  0%,
  25% {
    margin: 60px -10px 0;
  }
  50%,
  100% {
    margin: 8px -10px 0;
  }
}
@keyframes arrow3 {
  0%,
  50% {
    margin: 60px -15px 0;
  }
  75%,
  100% {
    margin: 20px -15px 0;
  }
}
