.nav-section {
  display: flex;
  justify-content: center;
  background-color: #B6D7A8;
}

.center-nav {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  flex-basis: 85%;
  place-self: center;
  place-items: center;
  justify-content: center;
	padding-left: 100px;
}

.user-nav {
  text-align: right;
  padding: 2px;
  align-self: center;
}

#paths {
  display: grid;
  margin: 0px 25px;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.text-nav a {
  text-decoration: none;
  color: black;
	padding: 10px;
}

.logo {
  height: 200px;
  width: 200px;
	padding: 5px;
	padding-bottom: 10px;
}

.text-nav a:hover {
  color: white;
}