#aboutSectionContainer {
  height: 100vh;
  width: 100vw;
  background-color: #B6D7A8;

  #aboutSection {
    height: 90%;
    overflow: auto;
    text-align: center;

    #about-heading {
      padding-top: 15px;
      padding-bottom: 50px;
      font-family: Impact, fantasy;
      // padding-left: 200px;
    }

    #name-headings {
      text-align: center;
      padding-top: 15px;
    }

    #title-headings {
      text-align: center;
    }

    #aboutus-heading {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .bioText {
      text-align: center;
    }

    #github-link {
      color: green;
    }

    #dev-div {
      text-align: center;
      padding-left: 150px;
      padding-right: 100px;
      padding-top: 50px;
      padding-bottom: 50px;
      border: 1px solid #000;
      margin-left: 20px;
      margin-bottom: 20px;
    }

    .about-page-img {
      height: 250px;
    }

    #meet-div {
      width: 1100px;
      // border: black outset 1px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
