#about-heading {
    text-align: center;
    padding-top: 15px
}

#name-headings{
    text-align: center; 
    padding-top: 15px
}

#title-headings{
    text-align: center; 
}

#aboutus-heading{
    text-align: center; 
    padding-top: 50px;
    padding-bottom: 50px;
}

.bioText {
    text-align: center;
}

#github-link {
    color: green;
}

#dev-div {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}