#showItemSection {
	display: block;
	background-color: #e4deae;
	width: 100vw;
	height: 100vh;
	text-align: center;
	align-items: center;
}

#show-item-div{
	display: flex;
	text-align: left;
	align-items: center;
	place-content: center;
	gap: 25px;
}

#show-image{
	height: 350px;
	width: 350px;
	border-radius: 100%;
}