.model-style {
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	overscroll-behavior: contain;
	top: -24rem;
	bottom: -24rem;
	right: -3rem;
	left: -12rem;
}

.model-stop-button {
	font-size: larger;
	background-color: red
}

.model-continue-button {
	font-size: larger;
	background-color: green;
}

.box-model{
	background-color: antiquewhite;
	padding: 15px;
	border-radius: 10px;
	text-align: center;
}

.text-model{
	font-size: x-large;
	margin-bottom: 10px;
	color: black;
}