.profileSection {
  .profileImgSmall {
    width: 30px;
  }

  .profileImgBig {
    width: 100px;
  }

  // unauthenticated \\
  Form {
    text-align: center;
    width: 13em;
  }

  .alreadyHasAccount {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .clickHere {
      text-align: center;
      color: blue;
      cursor: pointer;
      width: 20%;

      &:hover {
        color: aqua;
      }
    }
  }

  // authenticated \\
  .authenticatedUser {
    .profileStats {
      display: flex;
      align-items: center;
      text-align: center;
      width: 14em;
    }

    #myItemsButton {
      text-align: center;
    }
  }
}
