.profileSection {
  .profileImgSmall {
    width: 30px;
  }

  // unauthenticated \\
  Form {
    text-align: center;
    width: 13em;
  }

  .alreadyHasAccount {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .clickHere {
      text-align: center;
      color: blue;
      cursor: pointer;
      width: 20%;

      &:hover {
        color: aqua;
      }
    }
  }

  // authenticated \\
  .authenticatedUser {
    .profileStats {
      // border: 5px solid red;
      // position: relative;
      // top: -10%;
      display: flex;
      align-items: center;
      text-align: center;
      width: 14em;

      .profileImgBig {
        width: 100px;
        // border: 5px solid cyan;
        // position: relative;
      }
    }

    .accountSettingsImgCOntainer {
      position: relative;
      left: 80%;
      display: flex;
      justify-content: flex-end;
      width: 18%;

      #accountSettingsImg {
        width: 30px;

        &:hover {
          animation: spinGearIcon 0.5s linear;
          @keyframes spinGearIcon {
            100% {
              transform: rotate(90deg);
            }
          }
        }
      }
    }

    #myItemsButton {
      text-align: center;
    }
  }
}
