#searhSection-form {
  #searhSection-innerSection {
    display: flex;
    grid-template-columns: 1fr 1.5fr;
  }

  #formBasicSearchbar {
    border-radius: 0;
  }

  #filterListContainer {
    text-align: center;
    color: rgb(16, 200, 111);

    #filterList {
      width: 80vw;
      height: 15em;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1%;

      #filterCategory {
        display: flex;
        align-items: center;
      }

      #filterLocation {
        display: flex;
        align-items: center;
      }

      #filterDateRange {
        display: flex;
        align-items: center;

        #innerDateRange {
          display: flex;
          margin-top: -11%;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          width: 80%;
        }
      }
    }

    #filteredSearchButton {
      margin-top: 1em;
    }
  }
}
