.homepageSection {
  height: 100vh;
  background-color: #e4deae;
	text-align: center;
	align-items: center;
	padding-right: 20px;
	padding-top: 45px;
}

.home-welcome{
	font-size: 60px;
	font-weight: 600;
}

#found{
	text-decoration: underline;
}
