* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
<<<<<<< Updated upstream
  background-color: #212529;
  // max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
=======
  background-color: #e1e6ec;
  // background-color: #6c757d;
  height: 100vh;
>>>>>>> Stashed changes
}

