#editItemSection {
	display: block;
	background-color: #e4deae;
	width: 100vw;
	height: 100vh;
	text-align: center;
}

.editItemImage {
	border-radius: 100%;
	box-shadow: 50px;
}

.flex-div{
	display: flex;
	place-content: center;
	gap: 3rem;
	padding: 25px;
	padding-right: 215px;
	// margin-right: 200px;
}

#edit-form{
	align-self: center;
	text-align: left;
}

.input-style{
	width: 100%;
	border-radius: 18px;
	padding: 3px;
	margin: 0px;
}

#button-edit-form{
	display: flex;
	gap: 5px;
	padding-bottom: 2px;
}